<div class="card-body">
    <div class="row">
      <div class="col-6 col-sm-4 col-md text-center">
        <button type="button" (click)="largeModal.show()" class="btn btn-primary" style="float: right;"><i class="fa fa-lightbulb-o"></i>&nbsp;Create Tip</button>
      </div>
      
    </div>
  </div>
  <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Beauty Tip</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong>Basic Form</strong>
              </div>
              <div class="card-body">
                <form  class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">User Name</label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50"  name="fullname" class="form-control" placeholder="Text" [(ngModel)]="editData.fullname" disabled>
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Comments</label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50"  name="comments" class="form-control" placeholder="Text" [(ngModel)]="editData.comments">
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Recomment</label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50"  name="recomment" class="form-control" placeholder="Text" [(ngModel)]="editData.recomment">
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Rating_1</label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50"  name="rating_1" class="form-control" placeholder="Text" [(ngModel)]="editData.rating_1">
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Rating_2</label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50"  name="rating_2" class="form-control" placeholder="Text" [(ngModel)]="editData.rating_2">
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Rating_3</label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50"  name="rating_3" class="form-control" placeholder="Text" [(ngModel)]="editData.rating_3">
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Rating_4</label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50"  name="rating_4" class="form-control" placeholder="Text" [(ngModel)]="editData.rating_4">
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Rating_5</label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50"  name="rating_5" class="form-control" placeholder="Text" [(ngModel)]="editData.rating_5">
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updatePromotion(editData);largeModal.hide();add();" >Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Beauty Tips List
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Tip Title</th>
                      <th>Description</th>
                      <th>Image</th>
                      <th>Video</th>
                      <th>Status</th>
                      <th>Edit</th>
                      <th>Delate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of categorysData | paginate: { itemsPerPage: 10, currentPage: p }">
                      <td>{{item.tip_title}}</td>
                      <td>{{item.tip_description}}</td>
                      <td>{{item.tip_img}}</td>
                      <td>{{item.tip_video}}</td>
                      <td>{{item.rec_status}}</td>
                      <td> <button class="btn-primary" data-toggle="modal" (click)="largeModal.show();editPromotion(item,i)"><i class="fa fa-edit"></i></button></td>
                      <td> <button class="btn-danger"  data-toggle="modal"(click)="dangerModal.show();delatePromotion(item,i)"><i class="fa fa-trash"></i></button></td>
                    </tr>
                    <tr *ngIf="!categorysData || categorysData.length ==0">
                      No Records Found
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <!-- <div class="col-xs-12 col-12">
                  <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                              previousText="&lsaquo;" nextText="&rsaquo;" [boundaryLinks]="true"></pagination>
                </div> -->
              </div>
            </div>
          </div>
          <!--/.col-->
        </div>
      </div>
      
